server:
  port: 30208

# spring 配置
spring:
  application:
    name: alinesno-infra-data-scheduler-boot
    id: 1865936259484930048
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dev_alinesno_infra_data_scheduler_v100?serverTimezone=GMT%2B8&zeroDateTimeBehavior=CONVERT_TO_NULL
    username: root
    password: adminer
    # druid-specific 配置
    druid:
      # 连接池大小
      initial-size: 10       # 初始连接数
      min-idle: 10           # 最小空闲连接数
      max-active: 150         # 最大连接数（根据并发和 DB 能力调整）
      max-wait: 60000        # 获取连接最大等待毫秒数
      # 校验/回收
      validation-query: SELECT 1
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      # 监控与防火墙
      filters: stat,wall
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=3000
      # 其他可选项
      keep-alive: true

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 1
  servlet:
    multipart:
      max-file-size: 512MB
      max-request-size: 512MB
      enabled: true
      file-size-threshold: 0

  devtools:
    restart:
      enabled: true


# actable配置
actable:
  table:
    auto: update
  model:
    pack: com.alinesno.infra.data.scheduler.entity;com.alinesno.infra.data.scheduler.llm.entity;com.alinesno.infra.data.scheduler.workflow.entity;com.alinesno.infra.data.scheduler.trigger.entity;
  database:
    type: mysql
  index:
    prefix: alinesno_data_scheduler_idx_
  unique:
    prefix: alinesno_data_scheduler_uni_

# wechat token
alinesno:
  security:
    # 排除路径
    excludes:
      - /sso/**
      - /logout
      - /api/infra/data/scheduler/fileStore/displayImage/*
      - /api/infra/data/scheduler/trigger/**
  infra:
    gateway:
      host: https://alinesno-infra-base-gateway-proxy-application.linesno.com
  data:
    scheduler:
      worker-node: http://localhost:30300
      workspacePath: ${user.home}/.infra-data-scheduler

# workflow工作流日志配置
node:
  log:
    queue-size: 20000
    batch-size: 200
    flush-interval-ms: 1000
    max-retries: 3
    retry-backoff-ms: 500
    fallback-file: /var/log/node_logs_failures.log
    workers: 1
    collection: node_logs
    ttl-days: 7

# sa-token配置
sa-token:
  token-name: Authorization
  host-path: https://alinesno-infra-base-identity-auth-application.linesno.com
  sso:
    auth-url: ${sa-token.host-path}/login
    is-http: true
    check-ticket-url: ${sa-token.host-path}/prod-api/sso/checkTicket
    slo-url: ${sa-token.host-path}/prod-api/sso/signout
    get-data-url: ${sa-token.host-path}/prod-api/sso/getData
  sign:
    secret-key: kQwIOrYvnXmSDkwEiFngrKidMcdrgKor

